# Python
__pycache__/

# Visual Studio Code
.vscode/

# Coverage
htmlcov/

# SystemVerilog / UVM
*.pb
*.wlf
*.vcd
*.ucdb
*.d
*.svf
*.vp
*.hex
*.fsdb
*.vdb

# Synopsys VCS
csrc
DVEfiles
inter.vpd
vcdplus.vpd
verdiLog
vc_hdrs.h
urgReport
ucli.key
novas.conf
novas.rc

# Generated directories and files
simv
simv.daidir/
.daidir/
.vsim/
.vcsmx/
.vcsmx_rebuild/
.scs/
.csrc/
.vh/
.vh.*
.ucli.key
.rg/

# Temporary files
*~
*.tmp
*.backup
*.bak
*.swp
.DS_Store

# Autogen
npiLog/

# Other
.idea/
*.log
*.dat
*.rpt
*.jou
*.str
*.cmd
*.tar
*.tgz
*.zip
*.tar.gz
*.gz

# Synopsys Euclide
design/workspace/
EUAN.list
EUELAB.DB
Auto_problem_report.txt
*.cud
.project
.settings
workspace
.cproject
design/workspace/